<head>
<title>Emtpy Page</title>

  <!-- 'viewport' is used by bootstrap to respond to device size -->
  <meta name="viewport" content="width=device-width, initial-scale=1">

  <!-- Javascript:  JQuery from a content distribution network (CDN) -->
  <script
     src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js">
  </script>

   <script
    src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js">
   </script>

  <!-- moment.js is the JavaScript equivalent of arrow.py -->
  <script 
    src="{{ url_for('static', filename="js/moment.min.js") }}"></script>
</head>
<p style="color:white; background-color:Blue; text-align:center">There has no data submitted, submit data first!</p>


<h1>There has no data submitted, submit data first!</h1>
<button id='button' style="align-self: center;font-size: 12px">Back to Home Page</button>
<script type="text/javascript">
  $("#button").click(
    function(){
      window.location.href="./";
    });
</script>
